.app {
  width: 100%;
  height: 100%;

  .app-header {
    background-color: #282c34;
    height: 60px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;

    p {
      margin: 0;
    }
  }

  .app-wrapper {
    height: calc(100vh - 60px);

    [class^="col"] {
      height: 100%;

      .code-editor {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        border-right: 1px solid #222;
        background: rgb(29, 31, 33);
        color: rgb(197, 200, 198);
        transition: all ease-in-out 200ms;
      }

      .toggle-editor {
        position: absolute;
        top: 0;
        right: -15px;
        width: 30px;
        height: 30px;
        background: rgb(29, 31, 33);
        border: 1px solid rgb(29, 31, 33);
        border-radius: 50%;
        z-index: 100;
        padding: 0;
        outline: none;

        svg {
          path {
            fill: rgb(197, 200, 198);
          }
        }
      }

      .code-editor-placeholder {
        padding: 10px;
        color: rgb(197, 200, 198);
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
      }

      .code-editor-textarea {
        outline: none;
        border: none;
        resize: none;
      }

      .code-editor-pre {
        color: rgb(197, 200, 198);
      }

      .code-render-placeholder {
        padding: 10px;
        color: rgb(29, 31, 33);
        margin: 0;
        display: flex;
        width: 100%;
        height: 100%;
        font-size: 14px;
        align-items: center;
        justify-content: center;

        span {
          margin-left: 5px;
        }
      }

      .code-render {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}
